<div class="full-height-layout">
    <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
            <div id="container">
              <div class="flex-container">
                <div id="sidebar" class="box box-1 d-none d-sm-block">
                  <div class="sidebar-wrapper">
                    <div>
                      <a href="#" class="logo"><img src="./assets/images/logo.svg" alt="logo"></a>
                   </div>
                   <figure class="image">
                    <img src="./assets/images/icon1.svg" alt="icon">
                 </figure>
                 <!-- <p>2020 © Mahally, DUBAI, UAE.</p> -->
                 <p>{{langindex==0?'2021 © Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
                  </div>
                </div>
                <div id="main" class="box box-2">
                  <div class="language-selector text-right"><a class="text-white lt-pointer" *ngIf="isEnglish" (click)="doLangaugeChange('ar')">العربية</a><a class="text-white lt-pointer" *ngIf="!isEnglish" (click)="doLangaugeChange('en')">English</a></div>
                  <div class="logo-wrapper d-sm-none">
                    <a href="#" class="logo"><img src="./assets/images/logo.svg" alt="logo"></a>
                  </div>
                  <div class="form-wrapper">
                    <div class="form">
                      <header class="title text-center"><h1>{{langindex==0?'Kitchen Staff Login':'دخول طاقم المطبخ'}}</h1></header>
                      <form name="form" [formGroup]="loginForm" (ngSubmit)="doLogin()">
                        <div class="form-group">
                          <label>{{langindex==0?'Email':'البريد الإلكتروني'}}</label>
                          <input type="email" class="form-control" placeholder="{{langindex==0?'Email':'البريد الإلكتروني'}}" name="email" formControlName="email" required>
                          <app-control-messages [control]="loginForm.controls.email"></app-control-messages>
                          <label>{{langindex==0?'Password':'كلمة المرور'}}</label>
                          <input type="password" class="form-control" placeholder="{{langindex==0?'Password':'كلمة المرور'}}" name="password" formControlName="password" required>
                          <app-control-messages [control]="loginForm.controls.password"></app-control-messages>
                          <a routerLink="/forgot-password" class="link">{{langindex==0?'Forgot password?':'نسيت كلمة المرور؟'}}</a>
                        </div>
                        <div class="form-group">
                          <input [disabled]="!loginForm.valid" type="submit" class="button" value="{{langindex==0?'LOGIN':'تسجيل الدخول'}}">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="d-sm-none mt-5 text-center">
                    <p class="text-white small">{{langindex==0?'2021 © Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
                  </div>
                </div>
              </div>
            </div>
    </div>
    
          