<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">{{langindex==0?'The page you are looking for was not found.':'الصفحة التي تبحث عنها غير موجودة'}}</div>
                <a routerLink="/" class="btn btn-link">{{langindex==0?'Back to Home':'العودة للرئيسية'}}</a>
            </div>
        </div>
    </div>
</div>
