/* You can add global styles to this file, and also import other style files */
@import './assets/stylesheets/bootstrap.min.css';
@import './assets/stylesheets/fontawesome-webfont.css';
@import './assets/stylesheets/main.css';
@import '~ngx-toastr/toastr';

.lt-pointer{
    cursor: pointer  !important;
}

.lt-white{
    color: #FFF !important;
}