<div class="full-height-layout">
    <!--[if lt IE 9]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
<div id="container">
  <div class="flex-container">
    <div id="sidebar" class="box box-1 d-none d-sm-block">
      <div class="sidebar-wrapper">
        <div>
          <a href="#" class="logo"><img src="assets/images/logo.svg" alt="logo"></a>
       </div>
       <figure class="image">
        <img src="assets/images/icon1.svg" alt="icon">
     </figure>
     <p>{{langindex==0?'2021 © Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
      </div>
    </div>
    <div id="main" class="box box-2">
      <div class="language-selector text-right"><a class="text-white lt-pointer" *ngIf="isEnglish" (click)="doLangaugeChange('ar')">العربية</a><a class="text-white lt-pointer" *ngIf="!isEnglish" (click)="doLangaugeChange('en')">English</a></div>
      <div class="logo-wrapper d-sm-none">
        <a href="#" class="logo"><img src="assets/images/logo.svg" alt="logo"></a>
      </div>
      <div class="form-wrapper">
        <div class="form">
          <header class="title text-center"><h1>{{langindex==0?'RESET Password ':'إعادة تعيين كلمة المرور'}}</h1></header>
          <form [formGroup]="resetForm">
            <div class="form-group">
              <label>{{langindex==0?'New password':'كلمة مرور جديدة'}}</label>
              <input type="password" class="form-control" placeholder="{{langindex==0?'password':'كلمة المرور'}}" formControlName="password" required>
              <app-control-messages [control]="resetForm.controls.password"></app-control-messages>
            </div>
            <div class="form-group">
              <label>{{langindex==0?'Confirm new password':'تأكيد كلمة المرور الجديدة'}}</label>
              <input type="password" class="form-control" placeholder="{{langindex==0?'password':'كلمة المرور'}}" formControlName="c_password" required>
              <app-control-messages [control]="resetForm.controls.c_password"></app-control-messages>
            </div>
            <div class="form-group">
              <input type="submit" [disabled]="!resetForm.valid" class="button" (click)="doReset()" value="{{langindex==0?'Reset password':'إعادة تعيين كلمة المرور'}}">
            </div>
          </form>
        </div>
      </div>
      <div class="d-sm-none mt-5 text-center">
        <p class="text-white small">{{langindex==0?'2021 © Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
      </div>
    </div>
  </div>
</div>
</div>