<header id="header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3"><a class="logo lt-pointer"><img src="assets/images/logo2.png"
                        alt="logo"></a></div>
            <div class="col-xl-7 col-lg-9 ml-auto">
                <button type="button" class="menu-btn"> <span class="line"></span> <span class="line"></span>
                    <span class="line"></span></button>
                    <nav id="main-navigation">
                        <ul class="list-unstyled">
                            <li  routerLinkActive="active"><a routerLink="/order">{{langindex==0?'ACTIVE ORDERS':'الطلبات الحالية'}}</a></li>
                            <li  routerLinkActive="active"><a routerLink="/order-ready-for-pickup">{{langindex==0?'READY FOR PICKUP':'جاهز'}}</a></li>
                            <li  routerLinkActive="active"><a routerLink="/order-delivered">{{langindex==0?'DELIVERED':'تم التسليم'}}</a></li>
                            <li *ngIf="langindex==0" (click)="doLangaugeChange('ar')" class="lt-pointer"><a>العربية</a></li>
                            <li *ngIf="langindex==1" (click)="doLangaugeChange('en')" class="lt-pointer"><a>English</a></li>
                            <li><a (click)="doLogout()" type="button" routerLinkActive="active" class="bordered-button">{{langindex==0?'LOGOUT':'خروج'}}</a></li>
                             <!-- <li><a type="button" routerLinkActive="active" class="bordered-button">{{rest_name}}</a></li>
                            <li><a (click)="dochangepassword()" type="button" routerLinkActive="active" class="bordered-button">{{langindex==0?'Reset Password':'خروج'}}</a></li> -->
                       
                        </ul>
                    </nav>
                </div>
        </div>
    </div>
</header>